[client]
port		= 3306
socket		= /run/mysqld/mysqld.sock
[mysqld]
port		= 3306
socket		= /run/mysqld/mysqld.sock
skip-external-locking
key_buffer_size = 16M
max_allowed_packet = 1M
table_open_cache = 64
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M
log-bin=mysql-bin
binlog_format=mixed
server-id	= 1
log-bin=/var/lib/mysql/mysql-bin
general_log=1
general_log_file=/srv/http/djangochat/log/mysql.log
replicate-do-db = test
wait_timeout = 3600
interactive_timeout = 3600
[mysqldump]
quick
max_allowed_packet = 16M
[mysql]
no-auto-rehash
[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M
[mysqlhotcopy]
interactive-timeout
