# https://github.com/docker/hub-feedback/issues/1843
**
!download_content.sh
!newback/package.json
!newback/nest-cli.json
!newback/yarn.lock
!newback/tsconfig.build.json
!newback/tsconfig.json
!newback/src
!backup.sh
!common/src
!kubernetes
!frontend/src
!frontend/patches
!frontend/build
frontend/build/production.json
!frontend/package.json
!frontend/yarn.lock
!frontend/tsconfig.json
!frontend/tsconfig.node.json
!docker/populate
!docker/tornado
!kubernetes/frontend-old-pychat.org.json
!kubernetes/nginx-old-pychat.org.conf
!kubernetes/frontend-minikube.json
!docker/nginx.conf
!docker/nginx
!docker/pychat.org/certificate.crt
!docker/pychat.org/production.json
!docker/pychat.org/server.key
!docker/pychat.org/settings.py
