*.pyc
.project
.pydevproject
.idea
dump.rdb
photos
django.db
story/migrations
chat.log
story/static/sounds/*
story/static/font/*
story/static/demo.html
djangochat-config
story/static/css/fontello.css
example