*.pyc
.project
.pydevproject
.idea
dump.rdb
photos
django.db
chat/migrations
chat.log
chat/static/sounds/*
chat/static/font/*
chat/static/demo.html
chat/static/favicon.ico
chat/static/css/animation.css
chat/static/css/pikaday.css
chat/static/js/pikaday.js
chat/static/js/moment.js
chat/static/images
chat/static/smileys
chat/static/flags
chat/static/js/angular*
example
sessionsids.txt
chat/static/css/base.css
chat/static/css/variables.css
chat/static/css/mixins.css
chat/static/css/main.css
chat/static/css/*.map
chat/static/sass/.sass-cache
chat/static/sass/partials/*.scss
chat/static/valentine
chat/static/css/chat.css
redis-3.2.0-rc3