*.pyc
.project
.pydevproject
.idea
dump.rdb
photos
django.db
chat/migrations
chat.log
chat/static/sounds/*
chat/static/font/*
chat/static/demo.html
chat/static/favicon.ico
chat/static/js/pikaday.js
chat/static/js/moment.js
chat/static/images
chat/static/smileys
chat/static/flags
chat/static/js/angular*
example
sessionsids.txt
chat/static/css
chat/static/sass/.sass-cache
chat/static/sass/partials/*.scss
chat/static/valentine
redis-3.2.0-rc3
chat/static/js/smileys_data.js
chat/static/js/amcharts.js
chat/static/js/amcharts-pie.js
chat/static/js/amcharts-dark.js
chat/static/js/amcharts-all.js
chat/static/js/md5.js
lol1_files
chat/static/sass/partials/_asphalt.sass
chat/production.py