setuptools==38.4.0
oauth2client==4.1.2
Django==2.2.10
#git+https://github.com/django/django.git@52545e788d664040abf4f1a5d77cdfc61152ffca
redis==2.10.6
tornado==4.5.3
tornado-redis==2.4.18
#selenium # optional for testing, comment this if you don't go for tests
websocket-client==0.46.0
#test
enum34==1.1.6
# for tornado ssl certificate
#django-redis-cache
# pywebpush==1.9.3
# PyMySQL
# mysql-connector-python
# for windows you can install client with mysql installer or via whl file specified in readme
# mysqlclient
