/* =============== COLOR LOR ===================== */
.color-lor {
	background-color: #272c2d;
	color: #babdb6;
}

.color-lor nav {
	background-color: rgb(34, 31, 31);
}
/*---------INPUT TEXT--------*/
.color-lor input[type=text],
.color-lor input[type=password],
.color-lor input[type=email],
.color-lor textarea,
.color-lor select,
.color-lor input[type=date] {
	background-color: #272c2d;
	border: 1px solid rgba(96, 90, 90, 0.31);
	color: #C7C7C7;
}
.color-lor .box-shadow input[type=text],
.color-lor .box-shadow input[type=password],
.color-lor .box-shadow textarea,
.color-lor .box-shadow div[contenteditable],
.color-lor .box-shadow select,
.color-lor .box-shadow input[type=date]
{
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.83) inset, 0 -1px 0 rgba(0, 0, 0, 0.66) inset;
}

.color-lor input[type=text]:focus,
.color-lor input[type=password]:focus,
.color-lor input[type=email]:focus,
.color-lor textarea:focus,
.color-lor div[contenteditable]:focus,
.color-lor select:focus,
.color-lor input[type=date]:focus {
	outline: none; /*remove chrome blue border*/
	border: 1px solid #5e5e60;
	box-shadow: 0 0 10px #55585b;
	color: #dddddd;
}
.color-lor :link {
	color: #729fcf;
}

.color-lor :visited {
	color: #7572CF;
}

/*-----------INPUT BUTTON -----------*/
.color-lor input[type=button]:hover,
.color-lor input[type=submit]:hover {
	color: #000000;
	background: linear-gradient(#babdb6, #abbdab) repeat scroll 0 0 transparent;
	border: 1px solid #48484a;
	box-shadow: 0 0 10px #55585b;
	cursor: pointer; /*TODO */
}

.color-lor input[type=button],.color-lor input[type=submit] {
	background-color: rgb(62, 65, 58);
	color: #BABDB6;
}

/*-------- FONTELLO ------------*/
.color-lor [class^='icon-']:not([class='icon-anonymous']):hover {
	text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #3D3D3D;
}
[class^='icon-volume'] { color: rgb(138, 109, 59); }
.icon-home { color: rgb(51, 122, 183); }
.icon-pencil { color: rgb(85, 26, 139); }
.icon-santa-hat { color: rgb(207, 80, 80); }
.icon-chart-pie { color: rgb(121, 144, 15); }
.icon-users { color: rgb(66, 148, 122) }
.icon-login { color: rgb(60, 118, 61); }
.icon-register { color: rgb(138, 109, 59); }
.icon-sign-out { color: rgb(169, 68, 66); }
.icon-wrench { color: rgb(70, 133, 117); }
.icon-clear { color: rgb(142, 53, 84); }
.icon-man {color: rgb(84, 151, 83) !important; } /*override .color-lor:link*/
.icon-girl { color: #bb686a !important; } /*override .color-lor:link */
.icon-anonymous { color: #C2C2C2 !important; } /*override .color-lor:link*/
.icon-user-secret { color: rgb(92, 148, 163) !important; } /*override .color-lor:link*/
.icon-phone { color: #136C00 } /*override .color-lor:link*/

/*--------PAGE SPECIFIC--------------*/
.color-lor #hideableDropDown {
	background-color: rgb(38, 36, 37);
	border-color: rgb(30, 30, 30);
	box-shadow: 3px 3px 7px #0E1011
}
/*----------BROWSER SPECIFIC------------*/
.color-lor ::-webkit-calendar-picker-indicator { background: rgb(186, 189, 182); }
.color-lor ::-webkit-calendar-picker-indicator { background: rgb(39, 44, 45); }

input:-webkit-autofill, div[contenteditable]:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	-moz-box-shadow: 0 0 0 1000px #30302A inset !important;
	-webkit-box-shadow: 0 0 0 1000px #30302A inset !important; /*important t*/
	-webkit-text-fill-color: #CCCBDF;
}
/*TODO html scroll doesn't show with .color-lor class for body*/
::-webkit-scrollbar {
	background: #222 !important;
}
::-webkit-scrollbar-thumb {
	background: #3E4654 !important;;
}

/*IE scroll*/
.color-lor {
	scrollbar-base-color: #3E4654;
	scrollbar-3dlight-color: #7dc071;
	scrollbar-highlight-color: #c08b00;
	scrollbar-track-color: #222;
	scrollbar-arrow-color: #3c763d;
}

.color-lor input[type=file]::-webkit-file-upload-button:hover {
	color: #ffffff;
	border: 1px solid #48484a;
	box-shadow: 0 0 10px #55585b;
}

.color-lor input[type=file]::-webkit-file-upload-button {
	background-color: rgb(62, 65, 58);
	color: #BABDB6;
}

.color-lor .table tbody>tr>td,
.color-lor .table tbody>tr>th{
	border-top: 1px solid #5B6248;
}

.color-lor .col-error {
	color: red;
}

.color-lor .col-success {
	color: #39C03B;
}

.color-lor .col-info {
	color: #67bdc0;;
}

/* =============== END  ===================== */

a {
	text-decoration: none;  /* remove underline from fonts*/
}

ul {
	/*remove browser default left padding 40px and bullets*/
	padding-left: 0;
}

img {
	border-radius: 1px;
}

nav {
	/*Icons navbar size*/
	font-size: 26px;
}

.fullwidth {
	width: 100%;
}

.fullwidth-padded {
	margin: 8px;
	width: calc(100% - 16px);
}

.padding10 {
	padding: 10px;
}

.right {
	float:right;
}

.hidden {
	display: none !important;
}

#navbarList {
	margin: 0;
	padding: 10px 4px 9px 10px;
}
#navbarList > li {
	 display:inline;
}

html, body {
	text-shadow: none;
	/*cursor: auto;*/
	margin: 0;
	height: 100%;
	/*width: 100% !important;*/
	font-family: arial, serif;
}

body {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.max-height-scrollable {
	flex: 1;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 0;
}

.max-height-scrollable > * {
	overflow-y: auto;
	float: left;
	display: inline-block;
}

textarea, div[contenteditable] {
	resize: none;
	font-family: arial, serif;
	border: 0 none white; /*Remove as it distorts behaviour of  adjustUserMessageWidth in Firefox */
	padding: 0;
	outline: none;
}

#growlHolder {
	top: 60px; /*51 is nav + margin*/
	left: 5px;
	position: absolute;
	max-width: 50%;
	width: 400px;
	max-height: calc(100% - 60px); /*55 is top, +5px bot*/
	overflow: hidden;

}

.growl {;
	padding: 7px;
	width: calc(100% - 16px);
	border: 1px #775E39 solid;
	border-radius: 10px;
	background-color: rgba(34, 31, 31, 0.86);
	float:left;
	word-wrap: break-word;
	white-space: pre-wrap;
	margin-bottom: 5px;
	transition: 0.5s opacity;
	opacity: 0;
}


/*============== ONLY LOGIN.CSS =============*/
.userNameInput {
	background: rgba(0, 0, 0, 0);
	margin: 0 0;
	font-size: 22px; /*icons are 26 px + border, the bigger size will shift everything to bot*/
	padding: 0;
	width: 150px;
}

.username {
	font-size: 22px;
	padding-right: 10px;
}
/* ============= LOGIN DROPDOWN ==============*/

#hideableDropDown > form> * {
	display: block;
	margin: 13px;
}

#hideableDropDown {
	position: absolute;
	float: left;
	right: 5px;
	border: 1px solid;
	z-index: 1;
	border-radius: 2px;
	margin-top: 8px; /* = navbarList bottom margin */
}

/* ================== COMMONS ======================*/
.biginputtext input:not([type=button]):not([type=submit]):not([type=checkbox]):not([type=radio]), select {
	padding: 8px;
	margin: 5px 10px 5px 0;
	border-radius: 5px;
	font-size: 18px;
}


/******************** INPUTS ********************/

input[type=text], input[type=password], input[type=email], textarea,div[contenteditable], select, input[type=date] {
	border-radius: 5px;
	font-size: 18px;
	padding-left: 5px;
}

input[type=button], input[type=submit] {
	border: 1px solid transparent;
	border-radius: 3px;
	font-size: 18px;
	padding: 6px 12px;
}


textarea, div[contenteditable] {
	border-radius: 4px;
}

/*============== FONTELLO SETTINGS =================*/
nav [class^='icon-'] {
	margin: 2px;
}
[class^='icon-']:not([class='icon-anonymous']):hover { cursor: pointer;}
/*================= SCROLLBAR ==================== */

::-webkit-scrollbar {
	height: 12px;
	width: 6px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 1ex;
}

/*=============== BROWSER SPECIFIC ================ */
/*Remove annoying chromium autofill yellow background*/
.noSelection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/*::-webkit-inner-spin-button { display: none; }*/
::-webkit-inner-spin-button { display: none; }

input[type=file] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	/*background-color: red;*/
}

input[type=file]::-webkit-file-upload-button {
	border: 1px solid transparent;
	border-radius: 3px;
	font-size: 18px;
	padding: 6px 12px;
	horiz-align: center;
}

input[type=file]::-webkit-file-upload-button:hover {
	cursor: pointer;
}
/* "x::-webkit-file-upload-button" forces the rules to only apply to browsers that support this pseudo-element */

/* ====================== PROFILE.CSS ================= */


.two-columns  > * {
	width: 50%;
	float: left;
}

video {
	cursor: pointer;
}

#ajaxStatus {
    display : none;
}

#ajaxStatus.show {
	display: block;
	position: fixed;
	z-index: 100;
	background-color: #000;
	opacity: 0.5;
	background-repeat: no-repeat;
	background-position: center;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
}
#userProfileData select {
	width: 100%;
}
#userProfileData input {
	width: calc(100% - 18px)
}
table#userProfileData {
	max-width: 750px; /*width of collapsed below*/
}
#userProfileData td { /*th - first col, td 2nd*/
	width: 100%;
}

/*user-profile*/
@media screen and (max-width: 50em ) {
	.two-columns {
		display: block;
		overflow-y: auto;
		max-height: calc(100% - 50px);
	}
	.two-columns > * {
		width: 100%;
	}
	input[type=file] {
		max-width: 360px;
	}
}

@media screen and (max-width: 35em ) {
	.very-small-screen, .time-message {
		display: none !important;
	}
}

@media screen and (max-width: 80em ) {
 .mText {
	 display: none;
 }
}
