.color-lor [class='icon-girl']:hover,
.color-lor [class='icon-man']:hover,
.color-lor [class='icon-user-secret']:hover {
	color: #C9C9AA;
}
.color-lor .message-header-others {color: #729fcf;}
.color-lor .message-header-private {color: #8ae234;}
.color-lor .message-header-self {color: #e29722;}
.color-lor .message-header-system {color: #9DD3DD;}
.color-lor #userSendMessageTo {box-shadow: 0 2px 2px rgba(6, 3, 8, 0.77);}

[class^="message-header"] {
	font-weight: bold;
}

fieldset {
    border-top: 1px solid #aaa;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
    text-align: center;
	padding: 0;
	margin-left: 3px;
	margin-right: 10px;
}

fieldset legend {
    padding: 0 10px;
	font-weight: bold;
	color:   #9DD3DD;
}
p {
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}
/*#wrapper {*/
	/*height: calc(100% - 83px); /!* leave fail handler here *!/*/
	/*width: 100%;*/
/*}*/

#chatbox {
	width: 100%;
	overflow-y: scroll;
	padding-left: 8px;
	word-wrap: break-word;
	font-size: 18px;
	/*padding-top: 10px;*/
	margin-right: 2px; /*shift scrollbar from right side*/
}

#chatbox:focus {
    outline: none;
}

#chatbox a:hover{
	text-decoration: underline;
}

#chat-room-users-wrapper {
	float: right;
	max-width: 300px;
	font-size: 24px;
	overflow-y: auto;
	overflow-x: hidden;
	min-width: 200px;
	text-overflow: ellipsis;
}

.user:hover {
	cursor: pointer;
	color: #B5B978;;
	text-shadow: 0 0 3px #A2AC6D;;;
}

#chat-user-table > tbody > tr > td{
	padding: 0;
}

#userSendMessageTo {
	/*sets also in chat.js on username click*/
	justify-content: center;
	display: inline;
	vertical-align: middle;
	align-content: center;
	align-items: center;
	max-width: 250px;
	/*font-size: 17px; = inherited */
	border-radius: 2px;
	float:left;
	padding: 0 2px 0 2px;
	margin-right: 4px;
	border: 1px solid #101D07;
	background-color: #1C221C;
}
#receiverId {
	display: inline-block;
}
.message-text-holder {
	overflow: hidden;
	padding-left:5px;
	padding-bottom: 1px;
	padding-right: 12px;
}

.timeMess:hover {
	cursor: pointer;
	color: #979797;
}

/*-webkit-background-clip: text;*/
/*-webkit-text-fill-color: transparent;*/
/*gradient text top disappearing */
/*#chatbox {*/
	/*-webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0) 100%);*/
	/*TODO login dropdown goes under scroll, FF doesn't support*/
/*}*/


.fluid-height-child-bot {
	display: table;
	min-height: 100%;
	max-width: 300px;
}

.fluid-height-child-bot > div {
	display: table-row;
}

.fluid-height-child-bot > div:first-child {
	height: 100%;
}

@media screen and (max-height: 300px), screen and (max-width: 600px){
	#smileParentHolder {
		width: calc(100% - 30px) !important;
	}
}

#smileParentHolder {
	position: absolute;
	right: 5px;
	bottom: -2px;
	border: 1px #775E39 solid;
	border-radius: 10px;
	width: 50%;
	background-color:rgba(34, 31, 31, 0.86);
}

#smileParentHolder img {
	cursor: pointer;
}

.icon-smile {
	display: inline;
	float: right;
	position: absolute;
	right: 1px;
	top: 1px;
	height:16px;
}

#chatbox img, #usermsg img  {
	margin-top: -17px;
	margin-bottom: -10px;
	background-color: rgba(255, 255, 255, 0); /*remove background if someones copies smile */
	vertical-align: middle;
}

#tabNames {
	margin: 0;
	list-style-type: none;
}

#tabNames > li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

#tabNames > li:hover {
	cursor: pointer;
	text-decoration: underline;
}

.activeTab {
	color: #fcaf3e ;
}

#usermsg {
	margin-left: 4px;
	max-height: 200px; /*fallback*/
	max-height: 30vh;
	min-height: 1.15em; /*Firefox*/
	overflow-y: auto;
	white-space: pre-wrap; /*chrome keep \n, no horizontal scroll*/
}


/*--------------- START CALL DIALOG -----------------------*/
.active-call-user {
	background-color: #386D63
}

#callContainerParent {
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.3);
}

#callContainer {
	border-radius: 3px;
	position: absolute;
	background: #282923;;
	left: calc(50% - 100px);
	top: 10%;
	box-shadow: 2px 2px 1px #1F1F27;
}

#callContainerHeader {
	padding: 4px 0 4px 6px;
	background-color: #42433B;
	border-radius: 3px 3px 0 0;
	cursor: pointer;
}

#callContainer label {
	cursor: pointer;
}

.callContainerContent {
	padding: 5px;
}

.callContainerIcons {
	display: inline-block;
	font-size: 25px;
	width: 100%;
	padding-top: 10px;
	color: darkgreen;
}

#callUserList {
	margin: 0;
	max-height: 400px; /*fallback*/
	max-height: calc(100vh - 180px);
	overflow-y: auto;
	width: 100%;
	background-color: #343A3B;

}
.icon-phone-circled {
	float: right;
	color: green
}
.icon-videocam {
	margin-left: -5px;
	margin-right: 15px;
}
#callUserList > li {
	list-style-type: none;
	border-radius: 2px;
	margin-bottom: 2px;
	margin-right: 3px; /*before scroll*/
	padding-left: 3px;
	cursor: pointer;
}

.callActiveIcon {
	color: darkred;
}

/*--------------- END CALL DIALOG -----------------------*/