.checkboxes-div {
	display: inline-block;
	text-align: left;
	font-size: 16px;
}

#register-form > div {
	box-shadow: 0 2px 2px rgba(26, 26, 26, 0.64);
	border-radius: 2px;
	background-color: #222222;
	padding: 10px;
	display: inline-block;
	margin: auto;
	vertical-align: middle;
}

#register-form  tr > th >  label {
	margin-left: 5px;
}

#register-form  tr > td:nth-child(2) {
	text-align: left;
}

#register-form {
	text-align: center;
	margin-top: 25px;
}

#register-form  tr:last-child > td {
	text-align: center;
}