$mainWhiteTxtClr: #353535
.color-white
	.hljs
		border: 1px dashed #777777
	@import "../highlight-light"
	color: white
	background-color: #87a59d
	#chat-room-users-wrapper > span
		background-color: #414141
		color: white
	nav
		background-color: #333
		border-color: #080808
		color: white


	.highLightMessage
		border: 1px solid #3f3f3f
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5), 0 3px 10px 0 rgba(0,0,0,0.5) !important

	@mixin button($bg, $br, $bgh, $brh, $bga, $bra)
		color: #fff
		background-color: $bg
		border: 1px solid $br
		outline: none
		display: inline-block
		padding: 6px 12px
		margin-bottom: 0
		font-size: 14px
		font-weight: 400
		line-height: 1.42857143
		cursor: pointer
		user-select: none
		background-image: none
		border-radius: 4px
		&:hover
			background-color: $bgh
			border: 1px solid $brh
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19)
		&:active
			background-color: $bga
			border: 1px solid $bra

	input[type=button]
		@include button(#286090, #204d74, #286090, #204d74, #204d74, #122b40)
	input[type=submit]
		@include button(#2e8512, #2b7812, #2a7411, #266a10, #2b7812, #2b7812)
	input::-webkit-file-upload-button
		@include button(#286090, #204d74, #286090, #204d74, #204d74, #122b40)
	input[type=text], input[type=date], input[type=email], textarea, select
		height: 34px
	input[type=text], input[type=date], input[type=email], div[contenteditable], textarea, select
		padding: 3px 12px
		font-size: 14px
		line-height: 1.42857143
		color: #555
		background-color: #fff
		background-image: none
		border: 1px solid #ccc
		border-radius: 4px
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
		@include transition(border-color ease-in-out .15s,box-shadow ease-in-out .15s)
		&:focus
			border-color: #66afe9
			outline: none
			@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6))

	.modal-body
		background-color: #c3c6ca
	.icon-user-plus, .icon-plus-squared, .icon-angle-circled-down, .icon-angle-circled-up
		color: #cccccc
	.icon-smile, .icon-picture
		color: #6a6a6a
	.painterTools [class^='icon-']
		color: #474747
	.icon-webrtc-fullscreen, .icon-cog
		color: #59b2c1
	[class^='icon-volume']
		color: #875d30
	.icon-home
		color: #20A0FF
	.icon-brush
		color: #c51900
	.icon-pencil
		color: #ae49ff
	.icon-chart-pie
		color: #8a9c2c
	.icon-sign-out
		color: #F5504C
	.icon-wrench
		color: #67C8B0
	.icon-repeat
		color: #009910
	.icon-clear
		color: #D42C5A
	.icon-phone
		color: #257517 /*override .		color-lor :link*/
	.icon-doc-inv
		color: #0095ad
	.icon-popup
		color: #ff9900
	.icon-cog, .icon-webrtc-fullscreen
		color: #21bace
	.callActiveIcon
		color: #bf1710
	.painterTools .active-icon
		color: #ff3111
	#directUserTable, #chat-user-table ul
		li.offline
			.icon-user-secret, .icon-man, .icon-girl
				color: #fa9d9b
		li:not(.offline)
			.icon-user-secret, .icon-man, .icon-girl
				color: #90e690
	.timeMess
		color: #85d379
		font-weight: normal
	.message-others
		background-color: white
	.message-self
		background-color: #effdde
		margin-left: auto
		margin-right: 10px
	.message-system
		background-color: #f2fbff
	.chatbox
		font-family: Helvetica,Arial,sans-serif
		font-size: 14px
		p
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19)
			color: black
			display: table
			padding: 0.4em
			border-radius: 4px
			margin-top: 0.4em
			margin-bottom: 0.4em

	.growl
		opacity: 1
		color: white
		width: calc(100% - 50px)
		border-radius: 0px
		padding: 15px
		background-color: rgba(79, 140, 255, 0.9) !important
		&.col-error
			background-color: rgba(201, 52, 1, 0.9) !important
		&.col-success
			background-color: rgba(4, 168, 79, 0.9) !important

	.context-menu, #m2Message, #user-context-menu
		color: #50547b
		background-color: #f2fbff
		border: 1px solid #50547b

	@media screen and (max-width: $collapse-width)
		#chat-room-users-wrapper
			border-bottom: 2px solid grey

	.active-room
		background-color: #656888

	#onlineStatus
		&.online
			color: green
		&.offline
			color: red
