[Unit]
    Description=Tornado supervisor
[Service]
    Type=oneshot
    ExecStart=/home/andrew/python/djangochatprod/manage.py flush_online
    RemainAfterExit=yes
		User=http

[Install]
    WantedBy=multi-user.target
