[Unit]
    Description=Tornado supervisor
[Service]
    Type=oneshot
    ExecStart=/srv/http/pychat/manage.py flush_online
    RemainAfterExit=yes
    Environment=PYCHAT_CONFIG=prod
    User=http

[Install]
    WantedBy=multi-user.target
