[Unit]
Description=uWSGI Server

[Service]
ExecStart=/usr/bin/uwsgi --ini "/etc/uwsgi/chat.ini" 
SuccessExitStatus=30
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
Restart=always
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
