[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
wait_timeout = 3600
interactive_timeout = 3600
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0



default-character-set=utf8 
init-connect='SET NAMES utf8' 
default-collation=utf8_general_ci



[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid


[client] 
default-character-set = utf8
