</head>
<body>
	<header>
		<nav class="navbar navbar-default" role="navigation">
			<button action="." class="btn btn-default btn-lg">
				<a href="home"><span class="glyphicon glyphicon glyphicon-home"></span>
				</a>
			</button>

			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">

				<button class="btn btn-default btn-lg" id="muteBtn"
					onclick="mute();">
					<script>
					mute();
				</script>
				</button>

				{% block navbar %} {% endblock navbar %}
			</div>
			<!-- /.container-fluid -->
		</nav>
	</header>
	{% block content %} {% endblock %} {% csrf_token %}
<body>
</html>