<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Simle web chat</title> {% load staticfiles %}
	<script src="{% static "js/jquery.js" %}"></script>
	<script src="{% static "js/crsf.js" %}"></script>
	<script src="{% static "js/base.js" %}"></script>
	<link href="{% static 'css/bootstrap-glyphicons.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	{% block head %} {% endblock head %}
</head>
<body>
<header>
	<nav class="navbar-default">
		<ul class="navbarList">
			<li>
				<a href="{% url 'story.views.home' %}"><span class="glyphicon glyphicon-home blue"></span></a>
			</li>
			{% block navbar %} {% endblock navbar %}
			<li>
				<span id="muteBtn" class="blue" onclick="mute();"></span>
				<script>
					mute();
				</script>
			</li>
		</ul>
		</div>
	</nav>
</header>
{% block content %} {% endblock %} {% csrf_token %}
</body>
</html>
