{% extends 'story/base.html' %}
{% block head %}
	{% load staticfiles %}

	<script src="{% static 'js/webrtc.js' %}"></script>
{% endblock head %}

{% block content %}
	<canvas style="display:none;"></canvas>
	<div>
		{#	if photo isn't uploaded yet #}
			<div class="col1" style="text-align: center">
				<div class="padding10">
					{% if form.instance.photo %}
						<img src="{{ form.instance.photo.url }}" alt="ava" id='photoImg' class="fullwidth">
					{% else %}
						<img src="{% static 'no_ava.png' %}" alt="ava" id='photoImg' class="fullwidth">
					{% endif %}
				</div>
				<input type="button" value="Take a photo" onclick="startCapturingVideo(this)"/>
			</div>


		<form class="col1" action="{% url 'story.views.save_profile' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="padding10">
				<video autoplay class="fullwidth"></video>

				<table class="biginputtext" id="userProfileData">
					{{ form.as_table }}
					<tr>
						<td colspan="2"><input type="button" value="Save" onclick="saveProfile()"/></td>
					</tr>
				</table>
			</div>
		</form>

	</div>
{% endblock content %}