{% extends "story/base.html" %}
{% block head %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	{% load drealtimetags %}
	{% ishout_js %}
	{% load staticfiles %}
	<script src="{% static "js/chat.js" %}"></script>
	<script src="{% static "js/he.js" %}"></script>
	<audio id="chatIncoming" src="{% static 'sounds/ChatIncoming.wav' %}" preload="auto"></audio>
	<audio id="chatOutgoing" src="{% static 'sounds/ChatOutgoing.wav' %}" preload="auto"></audio>
	<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
	{% block childhead %}
	{% endblock childhead %}
{% endblock head %}

{% block content %}
	<style>

.message_header_self {
	color: #{{ self_text_color }} ;
}
.message_header_private {
	color: #{{ private_text_color }} ;
}
.message_header_others {
	color: #{{ others_text_color }} ;
}
.message_text_style {
	color: #{{ text_color }} ;
}

	</style>
	<div class="wrapper">
		<div id="chatbox">
		</div>
		<div class="create-messsage-wrapper" >
			<div class="inputsdiv">
				<input name="usermsg" type="text" class="inputs" id="usermsg"/>
			</div>
			<div style="float: right">
				<input
						type="button" id="sendButton"
						onclick="sendMessage(document.getElementById('usermsg').value);"
						value="Send"/>
			</div>
		</div>
	</div>
{% endblock %}

