{% extends "story/base.html" %}
{% block head %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	{% load drealtimetags %}
	{% ishout_js %}
	{% load staticfiles %}
	<script src="{% static "js/chat.js" %}"></script>
	<audio id="chatIncoming" src="{% static 'sounds/ChatIncoming.wav' %}" preload="auto"></audio>
	<audio id="chatOutgoing" src="{% static 'sounds/ChatOutgoing.wav' %}" preload="auto"></audio>
	{% block childhead %}
	{% endblock childhead %}
{% endblock head %}

{% block content %}
	<div class="wrapper">
		<div id="chatbox">
			<script type="text/javascript">
				{% for message in messages %}
					printMessage({{ message | safe }}, $("#chatbox"));
				{% endfor %}
			</script>
		</div>
		<table style="width: 100%; height: 100%; vertical-align: bottom">
			<tr>
				<td><input name="usermsg" type="text" class="inputs" id="usermsg" width="100%"/></td>
				<td><input
						type="button" id="sendButton"
						onclick="sendMessage(document.getElementById('usermsg').value);"
						value="Send"/></td>
			</tr>
		</table>
	</div>
{% endblock %}

