{% extends "story/base.html" %}
{% block head %} {% load staticfiles %}
	<script src="{% static "js/chat.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
{% endblock head %}
{% block navbar %}
	<li><i title="Show all users"
			onclick="toggleRoom()" class="icon-users"></i></li>
		<li><i class="icon-clear" title="CLear local history"
			onclick="clearLocalHistory()"></i></li>
{% endblock navbar %}
{% block content %}
	<div>
		<audio id="chatIncoming" src="{% static 'sounds/ChatIncoming.wav' %}" preload="auto"></audio>
		<audio id="chatOutgoing" src="{% static 'sounds/ChatOutgoing.wav' %}" preload="auto"></audio>
		<audio id="chatLogin" src="{% static 'sounds/ChatLogin.wav' %}" preload="auto"></audio>
		<audio id="chatLogout" src="{% static 'sounds/ChatLogout.wav' %}" preload="auto"></audio>
	</div>
	<div class="wrapper">
		<div class="chat-wrapper">
			<div id="chatrooms"><table id="chatroomtables"><tr></tr></table></div>
			<div id="chatbox">
			</div>
		</div>
		<div>
			<div id="userSendMessageTo">
				<div id="receiverId"></div>
				<i class="icon-cancel" onclick="hideUserSendToName();"></i>
			</div>
			<div class="message-text-holder box-shadow">
				<input name="usermsg" class="fullwidth" type="text" id="usermsg"/>
			</div>
		</div>
	</div>
{% endblock %}

