{% extends "story/base.html" %}
{% block head %}
	{% load staticfiles %}
	<link href="{% static 'css/confirm-email.css' %}" rel="stylesheet">
	<script type="text/javascript">
		var a = "{{message}}"
		if (a == 'verification code is accepted') {
			alert(a);
			redirectTime = "3000";
			redirectURL = "/";
			setTimeout("location.href = redirectURL;", redirectTime);
		}
	</script>
{% endblock head %}

{% block content %}
	{% if message == "verification code is accepted" %}
		<div class="message">
			You're redirected to the main page now!
		</div>
	{% else %}
		<div class="message">
			{{ message }}
		</div>
	{% endif %}
{% endblock %}
