{% extends "story/chat.html" %} {% block childhead %} {% load staticfiles %}
	<script src="{% static "js/login.js" %}"></script>
{% endblock childhead %} {% block navbar %}
	<li>
		<form id="showMenu">
			<span class="glyphicon glyphicon-log-in green" TITTLE="Sign in"></span>

			<div> <!--this div is for hiding and showing submenu-->
				<ul class="credentialList" id="loginMenu">
					<li><input class="credentials" type="text" autocomplete="off" name="username" value="" id="username"
								  placeholder="Username"/></li>
					<li><input class="credentials" type="password" autocomplete="off" name="password"
								  value="" id="password" placeholder="Password"/></li>
					<li>
						<button type="button" onclick="login();">Log in</button>
					</li>
				</ul>
			</div>
		</form>
	</li>
	<li><a value="Register" href="{% url 'story.views.register' %}"><span
			class="glyphicon glyphicon-registration-mark
	 black"></span></a></li>
{% endblock navbar %}
