{% load staticfiles %}
<script src="{% static "js/login.js" %}"></script>
<link href="{% static 'css/login.css' %}" rel="stylesheet">
<li>
	<form id="showMenu">
		<span class="glyphicon glyphicon-log-in green"></span>
		<div> <!--this div is for hiding and showing submenu-->
			<ul class="credentialList" id="loginMenu">
				<li><input class="credentials" type="text" autocomplete="off" name="username" value="" id="lusername"
							  placeholder="Username"/></li>
				<li><input class="credentials" type="password" autocomplete="off" name="password"
							  value="" id="lpassword" placeholder="Password"/></li>
				<li>
					<button type="button" onclick="login();">Log in</button>
				</li>
			</ul>
		</div>
	</form>
</li>
<li><a href="{% url 'story.views.register' %}"><span
		class="glyphicon glyphicon-registration-mark
	 black"></span></a></li>
