{% load staticfiles %}
<script src="{% static "js/login.js" %}"></script>
<li class="right">
	<i class="icon-login" title="Sign in" onclick="showLoginDropdown(event)"><span class="mText">sign in</span></i>
</li>
		<div id="hideableDropDown" class="biginputtext">
		<form> {% comment %} form for saving password by browser{% endcomment %}
			<input type="text" placeholder="Username" id="username">
			<input type="password" placeholder="Password" id="password">
			<div> <input type="button" onclick="login();" value="Sign In">
			<a href="{% url 'story.views.get_register_page' %}">
				<input type="button" value="Sing Up"></a> </div>
		</form>
	</div>