{% load staticfiles %}
<input type='hidden' id='username' value='{{ username }}'></input>
<li>
	<a href="{% url 'story.views.profile' %}"><span class="glyphicon glyphicon-cog green"></span></a>
	<b>{{ username }}</b>
</li>
<li>
	{% comment "Optional note" %}
    there should be to spaces after span in a
{% endcomment %}
	<a id="exit" rel="nofollow" href="{% url 'story.views.logout' %}"><span
			class="glyphicon glyphicon-off red"></span></a>
	<a rel="nofollow" id="hide" >
		<span class="glyphicon glyphicon-user brown" onclick="toggleRoom();"></span>
	</a>
</li>
