{% extends "story/base.html" %} {% block head %} {% load static %}
	<script src="{% static "js/register.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
{% endblock head %} {% block content %}
	<form class="border-form" id="register-form">
		<div class="border-div biginputtext">
			<table class="border-table">
				<tr>
					<td><input type="text" maxlength="16" placeholder="Username" name="username" value="" id="rusername"
								  onchange="validateUser()"/></td>
					<td><label id="username_check">Your login should be unique</label></td>
				</tr>
				<tr>
					<td><input type="password" name="password" value=""
								  id="rpassword" placeholder="Password" onchange="validatePassword(); passwordsMatch();"/></td>
					<td><label id="password_check">At least 3 characters</label></td>
				</tr>
				<tr>
					<td><input type="password" placeholder="Repeat password" name="repeatpassword" value=""
								  id="repeatpassword" onchange="passwordsMatch();"/></td>
					<td><label id="repeatpassword_check">Repeat in case of misspelling</label></td>
				</tr>
				<tr>
					<td><input type="email" placeholder="Email" name="email" value="" id="email"
								  onchange="validateEmail();"/></td>
					<td><label id="email_check">To be able to restore your password</label></td>
				</tr>
				<tr>
					<td class="checkboxes-td">
						<div class="checkboxes-div">
							<input type="radio" id="rmale" name="sex" value="Male">Male<br>
							<input type="radio" id="rfemale" name="sex" value="Female">Female
						</div>
						</td>
					<td><input type="checkbox" name="mailbox" id="mailbox" onchange="validateEmail();">
						<label for="email" title="You will be able to restore forgotten password">Send verification</label></td>
				</tr>
				<tr>
					<td colspan="2" class="border-button-tr">
						<input type="button" onclick="register();" value="Sing Up"/>
					</td>
				</tr>
			</table>
		</div>
	</form>
{% endblock %}
