{% extends "story/base.html" %} {% block head %} {% load static %}
	<script src="{% static "js/jquery.js" %}"></script>
	<script src="{% static "js/register.js" %}"></script>
{% endblock head %} {% block content %}
	<h1 align="center">{{ errorcode }}</h1>
	<form>
		<table width=100%>
			<tr>
				<td width="200px"><label for="username">User name</label></td>
				<td><input type="text" name="username" value="" id="username"/>
				</td>
			</tr>
			<tr>
				<td><label for="password">Password</label></td>
				<td><input type="password" name="password" value=""
							  id="password"/></td>
			</tr>
			<tr>
				<td><label for="repeatpassword">Repeat the password</label></td>
				<td><input type="password" name="repeatpassword" value=""
							  id="repeatpassword"/></td>
			</tr>
			<tr>
				<td><label for="email">email</label></td>
				<td><input type="email" name="email" value="" id="email"/></td>
			</tr>
			<tr>
				<td><a id="exit" rel="nofollow" href='{% url "story.views.home" %}'>Home
					Page</a></td>
				<td><input type="button" onclick="register();" value="register"/>
				</td>
			</tr>
		</table>
	</form>
{% endblock %}
