{% extends 'story/base.html' %}
{% block content %}
		<div class="inline">
			{% if profile.photo %}
					<img src="{{ profile.photo.url }}" alt="ava" class="img-responsive">
			{% endif %}

				<div>
					<h3>{{ profile.username }} </h3>
				</div>


			{% for field in form %}
				{{ field }}
			{% endfor %}

					<table>
						<tr>
							<td>
								name
							</td>
							<td>
								{{ profile.name }}
							</td>
						</tr>
						<tr>
							<td>
								surname
							</td>
							<td>
								{{ profile.surname }}
							</td>
						</tr>
						<tr>
							<td>
								city
							</td>
							<td>
								{{ profile.city }}
							</td>
						</tr>
						<tr>
							<td>birthday</td>
							<td> {{ profile.birthday }}</td>
						</tr>
						<tr>
							<td>contacts</td>
							<td> {{ profile.contacts }}</td>
						</tr>
						<tr>
							<td>email</td>
							<td>{{ profile.email }}</td>
						</tr>
					</table>
		</div>
{% endblock content %}