<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Chat</title> {% load staticfiles %}
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}?v3" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/fontello.css' %}">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Snowstorm/20131208/snowstorm-min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<script>
		const staticUrl = "{% static "" %}";
		const  apiUrl = "{{ apiUrl }}";
	</script>
	<script src="{% static "js/base.js" %}"></script>
	{% block head %} {% endblock head %}
</head>
<body class="color-lor" >
<nav class="noSelection">
	<ul id="navbarList">
		<li>
			<a href="{% url 'chat.views.home' %}"><i class="icon-santa-hat" title="Go home"><span class="mText">home</span></i></a>
		</li>
		<li><i id="muteBtn" class="icon-volume-off" title="Turn on or off sounds"
						 onclick="mute();"><span class="mText">volume</span></i>
		</li>
		<li>
			<a href="{% url 'chat.views.report_issue' %}"><i class="icon-pencil" title="report an issue"><span class="mText">issue</span></i></a>
		</li>
		{% block navbar %} {% endblock navbar %}
		<li>
			<i class="icon-snow-heavy-inv" title="Disable or enable snowing" onclick="snowStorm.toggleSnow()"><span class="mText">snow</span></i>
	</li>
	<li>
		<a href="{% url 'chat.views.statistics' %}"><i class="icon-chart-pie" title="Show user countries statistics"><span class="mText">statistics</span></i></a>
	</li>
		{% if username %}
			{% include "logout.html" %}
		{% else %}
			{% include "login.html" %}
		{% endif %}
		<li class="right username">Hello,
			<b>
				{% if not username %}
					<input type='text' id='inputName' maxlength='16' class='userNameInput' value=''/>
				{% endif %}
				<label id="userNameLabel">{{ username }}</label>
			</b>
		</li>
	</ul>
	<!-- /.container-fluid -->
</nav>
{% block content %} {% endblock %}
{% csrf_token %}
</body>
</html>
