<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>PyChat</title> {% load md5url %}
	<link rel="shortcut icon" href="{% md5url 'images/favicon.ico' %}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta property="og:title" content="Open Source Chat"/>
	<meta property="og:image" content="{% md5url 'images/favicon.ico' %}"/>
	<meta property="og:site_name" content="Pychat"/>
	<meta property="og:description" content="Chat with your friends, make video calls or transfer files with Pychat!"/>
	<script>
		const RESPONSE_SUCCESS = "{{ successResponse }}";
		window.START_WITH_LOGS = {{ logs |yesno:"true,false" }};
	</script>
	<script src="{% md5url "js/base.js" %}"></script>
	{% block head %} {% endblock head %}
	<style>
		@font-face {
			font-family: 'Oswald';
			font-style: normal;
			font-weight: 400;
			src: local('Oswald Regular'), local('Oswald-Regular'), url({% md5url 'font/OpenSans.ttf' %}) format('truetype');
		}
		@font-face {
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 400;
			src: local('Open Sans'), local('OpenSans'), url({% md5url 'font/Oswald.ttf' %}) format('truetype');
		}
	</style>
</head>
<body class="color-reg">
<div id="ajaxStatus"></div>
{% block content %} {% endblock %}
{% csrf_token %}
<div id="growlHolder"></div>
</body>
</html>