<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>PyChat</title> {% load md5url %}
	<link rel="shortcut icon" href="{% md5url 'favicon.ico' %}" />
	<link rel="stylesheet" type="text/css" href="{% md5url 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% md5url 'css/fontello.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<script>
		const RESPONSE_SUCCESS = "{{ successReponse }}";
	</script>
	<script src="{% md5url "js/base.js" %}"></script>
	{% block head %} {% endblock head %}
<style>
	#ajaxStatus.show {
		background-image: url('{% md5url 'ajaxStatus.gif' %}');
	}
</style>
</head>
<body class="color-lor" >
<nav class="noSelection">
	<ul>
		<li>
			<a href="{% url 'chat.views.home' %}"><i class="icon-home" title="Go home"><span class="mText">home</span></i></a>
		</li>
		<li><i id="muteBtn" class="icon-volume-off" title="Turn on or off sounds"
						 onclick="mute();"><span class="mText">volume</span></i>
			<input type="range" orient="vertical" />
		</li>
		<li>
			<a href="{% url 'issue' %}"><i class="icon-pencil very-small-screen" title="report an issue"><span class="mText">issue</span></i></a>
		</li>
		{% block navbar %} {% endblock navbar %}
		<li>
			<a href="{% url 'chat.views.statistics' %}"><i class="icon-chart-pie" title="Show user countries statistics"><span class="mText">statistics</span></i></a>
		</li>
	{% if username %}
		<li class="right"><a id="exit" rel="nofollow" href="{% url 'chat.views.logout' %}">
			<i title="Sign out" class="icon-sign-out"><span class="mText">sign out</span></i>
		</a></li>
		<li class="right"><a href="{% url 'profile' %}" id="hide"><i title="Settings" class="icon-wrench">
			<span class="mText">settings</span></i></a></li>
		<li class="right username very-small-screen">Hello, <b id="userNameLabel"> {{ username }}</b></li>
	{% else %}
		<li class="right">
			<form id="loginForm"  onsubmit="login(event);">
				<div class="shrink-200px">
					<div>
						<i class="icon-user"></i>
						<input type="text" maxlength="16" required
							   placeholder="Username" name="username" value="" id="username"/>
					</div>
					<div>
						<i class="icon-key"></i>
						<input type="password" name="password" placeholder="Password" id="password" required>
					</div>
				</div>
				<div>
					<i class="icon-login" title="Sign in" onclick="$('loginSubmit').click()"></i>
					<input type="submit" id='loginSubmit' class="hidden"/>
				</div>
			</form>
		</li>
	{% endif %}
	</ul>
	<!-- /.container-fluid -->
</nav>
<div id="ajaxStatus"></div>
{% block content %} {% endblock %}
{% csrf_token %}
<div id="growlHolder"></div>
</body>
</html>