<div class="max-height-scrollable two-columns" style="flex: 1">
	<canvas id="canvasBuffer" class="hidden"></canvas>
	<div style="text-align: center; ">
		<div class="padding10" style="position: relative;">
			<img {% if form.instance.photo %}  src="{{ form.instance.photo.url }}" {% endif %} alt="ava" id='photoImg'  class="fullwidth">
			<video autoplay id="changeProfileVideo"></video>
		<input type="button" class="button lor-btn" value="Make a photo from webcam" style="margin-top: 10px" onclick="startCapturingVideo(this)"/>
		</div>
	</div>
	<form  method="post" id="changeProfileForm" enctype="multipart/form-data" onsubmit="saveProfile(event)">
		{% csrf_token %}
		<div class="padding10">
			<table class="biginputtext" id="userProfileData">
				{{ form.as_table }}
				<tr>
					<th><label>Clear history</label></th>
					<td style="padding: 10px 0">
						<input type="button"  class="button lor-btn" value="clear now" onclick="channelsHandler.clearChannelHistory()"/>
					</td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: center"><input type="submit" class="green-btn " value="Save"/></td>
				</tr>
			</table>
		</div>
	</form>
</div>