{% extends 'base.html' %}
{% block head %} {% load md5url %}
	<script>
		const PICKADAY_CSS_URL = "{% md5url 'css/pikaday.css' %}";
		const MOMENT_JS_URL = "{% md5url 'js/moment.js' %}";
		const PICKADAY_JS_URL = "{% md5url 'js/pikaday.js' %}";
	</script>
	<script src="{% md5url 'js/webrtc.js' %}"></script>
{% endblock head %}

{% block content %}
	<canvas style="display:none;"></canvas>
	<div class="max-height-scrollable two-columns">
		{#	if photo isn't uploaded yet #}
			<div style="text-align: center">
				<div class="padding10">
					{% if form.instance.photo %} {% comment %}TODO{% endcomment %}
						<img src="{{ form.instance.photo.url }}" alt="ava" id='photoImg' class="fullwidth">
					{% else %}
						<img src="{% md5url 'no_ava.png' %}" alt="ava" id='photoImg' class="fullwidth">
					{% endif %}
				<input type="button" value="Make a photo from webcam" style="margin-top: 10px" onclick="startCapturingVideo(this)"/>
				</div>

			</div>


		<form  method="post" enctype="multipart/form-data" onsubmit="saveProfile(event)">
			{% csrf_token %}
			<div class="padding10">
				<video autoplay class="fullwidth"></video>

				<table class="biginputtext" id="userProfileData">
					{{ form.as_table }}
					<tr>
						<td colspan="2" style="text-align: center"><input type="submit" value="Save"/></td>
					</tr>
				</table>
			</div>
		</form>

{#	<input type="button" value="start sharing" onclick="startSharingVideo()"/>#}

	</div>
{% endblock content %}