{% extends "base.html" %}
{% block head %} {% load md5url %}
	<script>
		const API_URL = "{{ apiUrl }}";
		const SMILEYS_JSON_URL = "{% md5url 'smileys/info.json'  %}";
		const SMILEY_URL = "{% md5url "smileys/" %}";
	</script>
	<script src="{% md5url "js/chat.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% md5url 'css/chat.css' %}">
{% endblock head %}
{% block navbar %}
	<li><i title="Show all users"
			 onclick="toogleVisibility(chatUserRoomWrapper)" class="icon-users very-small-screen"><span class="mText">users</span></i></li>
	<li><i class="icon-clear" title="CLear local history"
			 onclick="clearLocalHistory()"><span class="mText">clear</span></i></li>
{% endblock navbar %}
{% block content %}
	<div>
		<audio id="chatIncoming" src="{% md5url 'sounds/ChatIncoming.wav' %}" preload="none"></audio>
		<audio id="chatOutgoing" src="{% md5url 'sounds/ChatOutgoing.wav' %}" preload="none"></audio>
		<audio id="chatLogin" src="{% md5url 'sounds/ChatLogin.wav' %}" preload="none" ></audio>
		<audio id="chatLogout" src="{% md5url 'sounds/ChatLogout.wav' %}" preload="none"></audio>
	</div>
	<div id="wrapper">
		<div class="fluid-inline">
			<div id="chat-room-users-wrapper" class="very-small-screen">
				<div class="fluid-height-child-bot">
					<div>
						<table id="chat-user-table">
							<tr></tr>
						</table>
					</div>
					<div id="rooms">
					</div>
				</div>
			</div>{% comment %}tabindex allows focus, focus allows keydown binding event{% endcomment %}
			<div id="chatbox" tabindex="0">
				<div>
				</div>
			</div>
		</div>
		<div id="bottomWrapper" class="noSelection">
            {% comment %}icon-emo-happy also in chat.css{% endcomment %}
			<i class="icon-emo-happy"  title="Add a smile :)" onclick="toggleSmileys(event)"></i>
			<div id="smileParentHolder" class="padding10" onclick="addSmile(event);"><ul id="tabNames"></ul></div>
			<div id="userSendMessageTo">
				<div id="receiverId"></div>
				<i class="icon-cancel" onclick="hideUserSendToName();"></i>
			</div>
			<div class="message-text-holder box-shadow">
				<textarea name="usermsg" rows="1" class="fullwidth" id="usermsg"></textarea>
			</div>
		</div>
	</div>
{% endblock %}

