{% extends "base.html" %}
{% block head %} {% load md5url %}
	<script>
		const API_URL = "{{ apiUrl }}";
		const PICKADAY_CSS_URL = "{% md5url 'css/pikaday.css' %}";
		const MOMENT_JS_URL = "{% md5url 'js/moment.js' %}";
		const PICKADAY_JS_URL = "{% md5url 'js/pikaday.js' %}";
		const AMCHART_URL = "{% md5url 'js/amcharts-all.js' %}";
		const CHANGE_PROFILE_JS_URL = "{% md5url 'js/profile.js' %}";
		const STATISTICS_JS_URL = "{% md5url "js/statistic.js" %}";
		const loggedUser = "{{ username }}";
		const loggedUserId = {{ userid }};
		const NOTIFICATION_ICON_URL = "{% md5url 'images/favicon.ico' %}";
		var suggestions = {{ suggestions |yesno:"true,false" }};
		var notifications = {{ notifications |yesno:"true,false" }};
	</script>
	<script src="{% md5url "js/smileys_data.js" %}" async></script>
	<script src="{% md5url "js/chat.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% md5url 'css/chat.css' %}">
{% endblock head %}
{% block content %}
	<nav class="noSelection">
		<a class="icon-home" href="/" title="Go home" onclick="event.preventDefault(); singlePage.showDefaultPage();"><span class="mText">Home</span></a>
		<i id="muteBtn" class="icon-volume-off" title="Turn on or off sounds" onclick="mute();"><span class="mText">Volume</span></i>
		<a href="/#/report_issue" class="icon-pencil hide-wide" title="report an issue"
			onclick="event.preventDefault(); singlePage.showPage('/report_issue')"><span class="mText">Issue</span></a>
		<i class="icon-clear hide-wide" title="Clear local history" onclick="channelsHandler.clearChannelHistory()"><span class="mText">Clear</span></i>
		<a class="icon-phone" id="navCallIcon" href="/#/call" title="Make a video/mic call" onclick="event.preventDefault(); webRtcApi.toggleCallContainer()"><span class="mText">Call</span></a>
		<a href="/#/statistics" class="icon-chart-pie hide-wide" onclick="event.preventDefault(); singlePage.showPage('/statistics')" title="Show user countries statistics"><span class="mText">statistics</span></a>
		<i class="icon-doc-inv" id="webRtcFileIcon"><span class="mText">Send File</span></i>
		<span id="onlineStatus" title="Online status" class="flex-push-right offline">●</span>
		<span id='headerText' class="username very-small-screen"></span>
		<a  href="/#/profile" title="Settings" onclick="event.preventDefault(); singlePage.showPage('/profile')" class="icon-wrench"> <span class="mText">Profile</span></a>
		<a id="exit" rel="nofollow" href="{% url 'chat.views.logout' %}" onclick="channelsHandler.clearChannelHistory()">
			<i title="Sign out" class="icon-sign-out"><span class="mText">sign out</span></i> </a>
	</nav>
	<div>
		<audio id="chatIncoming" src="{% md5url 'sounds/ChatIncoming.wav' %}" preload="none"></audio>
		<audio id="chatOutgoing" src="{% md5url 'sounds/ChatOutgoing.wav' %}" preload="none"></audio>
		<audio id="chatLogin" src="{% md5url 'sounds/ChatLogin.wav' %}" preload="none" ></audio>
		<audio id="chatLogout" src="{% md5url 'sounds/ChatLogout.wav' %}" preload="none"></audio>
		<audio id="chatCall" src="{% md5url 'sounds/Call.mp3' %}" preload="none"></audio>
	</div>
	<div id="wrapper" class="max-height-scrollable hidden">
		<div id="chatBoxHolder" class="max-height-scrollable">
			<ul id="m2Message" class="hidden">
				<li onclick="channelsHandler.m2EditMessage()">Edit message</li>
				<li onclick="channelsHandler.m2DeleteMessage()">Delete message</li>
			</ul>
		<div id="callContainer" class="hidden">
		</div>
		</div>
		<div id="chat-room-users-wrapper">
			<ul id="user-context-menu" class="hidden">
				<li onclick="channelsHandler.m2Call()">Call</li>
				<li onclick="channelsHandler.m2TransferFile()">Transfer file</li>
				<li onclick="channelsHandler.viewProfile()">View profile</li>
				<li onclick="channelsHandler.createDirectChannel()">Write message </li>
			</ul>
			<span>
				<span id="channelsMinifier" name="channel" class="icon-angle-circled-up"></span>
				<span id="channelsStateText">rooms</span>
				<i class="icon-plus-squared" title="Create New Room" onclick="channelsHandler.showAddRoom()"></i></span>
			<ul id="rooms">
			</ul>
			<span>
				<span id="directMinifier" name="direct" class="icon-angle-circled-up"></span>
				<span id="directStateText">direct  messages</span>
				<i class="icon-plus-squared" title="Create New Direct Channel" onclick="channelsHandler.showAddUser()"></i></span>
			<ul id="directUserTable">
			</ul>
			<span>
				<span id="usersMinifier" name="user" class="icon-angle-circled-up"></span>
				<span id="usersStateText"></span>
				<i class="icon-user-plus" id="inviteUser" title="Add user to current active channel" onclick="channelsHandler.showInviteUser()"></i>
			</span>
			<div id="chat-user-table">
			</div>
		</div>
		<div id="smileParentHolder" class="padding10 hidden" onmousedown="smileyUtil.addSmile(event);">
			<ul id="tabNames" onmousedown="smileyUtil.showTabByName(event)"></ul>
		</div>
	</div>
	<div id="addUserHolder" class="hidden">
		<div>
			<input type="search" placeholder="Search" title="Filter by username" onkeyup="channelsHandler.filterAddUser(event)" id="addUserInput"/>
			<ul id="addUserList" onclick="channelsHandler.addUserHolderClick(event)">
			</ul>
		</div>
	</div>
	<div id="addRoomHolder" class="hidden">
		<div>
			<input type="text" placeholder="Room Name" title="Enter New Room Name Here" id="addRoomInput" maxlength="16"/>
			<input type="button" value="Add" id="addRoomButton"/>
		</div>
	</div>
	<div id="canvasHolder" class="hidden">
		<div>
			<canvas id="painter"></canvas>
			<div style="display: block">
				<i id="paintPen" title="Pen" class="icon-brush-1"></i>
				<i class="icon-color-adjust" title="Pick color" id="paintPickerIcon"></i>
				<input type="color" id="paintPicker" value="#ff0000"/>
				<i id="paintEraser" class="icon-eraser" title="Eraser"></i>
				<input type="range" id="paintRadius" title="Line width" step="1" max="32" min="1" value="3"/>
				<input type="range" id="paintOpacity" title="Opacity" step="0.025" max="1" min="0.46416" value="1"/>
				<i title="Clear" id="paintClear" class="icon-trash-circled"></i>
				<i title="Send" id="paintSend" class="icon-send"></i>
			</div>
		</div>
	</div>
	<div id="userMessageWrapper" class="hidden" style="position: relative">
		<input type="file" accept="image/*" id="imgInput" class="hidden"/>
		<i class="icon-picture" title="Attach Image File" onclick="$('imgInput').click()"></i>
		<i class="icon-brush" title="Draw an Image" onclick="painter.show()"></i>
		<i class="icon-smile" title="Add a smile :)" onmousedown="smileyUtil.toggleSmileys(event)"></i>
		<div contenteditable="true" id="usermsg" onkeydown="channelsHandler.checkAndSendMessage(event)"></div>
	{% comment %}TODO which chat variable to use?{% endcomment %}
	</div>
	<form method="post" id="issueForm" class="hidden max-height-scrollable">
		<table class="fullwidth padding10">
			<tr>
				<th><label for="issue">The problem you discovered</label></th>
				<td><textarea id="issue" tabindex="-1" name="issue" required></textarea></td>
			</tr>
			<tr>
				<th><label for="version">Affected browser</label></th>
				<td><input type="text" name="browser" id="version"/></td>
			</tr>
			<tr>
				<th>
					<label for="history">Send Logs</label>
				</th>
				<td><input type="checkbox" name="history" id="history" checked/> <label for="history"></label></td>
			<tr>
				<td colspan="2"><input type="submit" value="Sumbit"></td>
			</tr>
		</table>
	</form>
	<form id="fileInfo" class="hidden">
		<input type="file" id="webRtcFileInput" name="files">
	</form>
{% endblock %}
