{% extends "base.html" %}
{% block head %} {% load md5url %}
	<script>
		const API_URL = "{{ apiUrl }}";
		const SMILEYS_JSON_URL = "{% md5url 'smileys/info.json'  %}";
		const SMILEY_URL = "{% md5url "smileys/" %}";
	</script>
	<script src="{% md5url "js/chat.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% md5url 'css/chat.css' %}">
{% endblock head %}
{% block navbar %}
	<li><i title="Show all users"
			 onclick="CssUtils.toggleVisibility(chatUserRoomWrapper)" class="icon-users very-small-screen"><span class="mText">users</span></i></li>
	<li><i class="icon-clear" title="CLear local history"
			 onclick="clearLocalHistory()"><span class="mText">clear</span></i></li>
	<li>
	<i class="icon-phone" title="Make a video/mic call"
			 onclick="showCallDialog()"><span class="mText">Call</span></i>
	</li>
{% endblock navbar %}
{% block content %}
	<div>
		<audio id="chatIncoming" src="{% md5url 'sounds/ChatIncoming.wav' %}" preload="none"></audio>
		<audio id="chatOutgoing" src="{% md5url 'sounds/ChatOutgoing.wav' %}" preload="none"></audio>
		<audio id="chatLogin" src="{% md5url 'sounds/ChatLogin.wav' %}" preload="none" ></audio>
		<audio id="chatLogout" src="{% md5url 'sounds/ChatLogout.wav' %}" preload="none"></audio>
	</div>
	<div id="wrapper" class="max-height-scrollable" style="position: relative">
		<div id="chatbox" tabindex="0" onkeydown="keyDownLoadUp(event)">
			<div>
			</div>
		</div>{% comment %}tabindex allows focus, focus allows keydown binding event{% endcomment %}
		<div id="chat-room-users-wrapper" class="very-small-screen">
			<table id="chat-user-table">
				<tr></tr>
			</table>
			<div id="rooms">
			</div>
		</div>
		<div id="smileParentHolder" class="padding10" onclick="addSmile(event);">
			<ul id="tabNames" onclick="showTabByName(event)"></ul>
		</div>
	</div>
	<div class="fullwidth-padded box-shadow" style="position: relative">
		<div id="userSendMessageTo">
			<div id="receiverId"></div>
			<i class="icon-cancel" onclick="hideUserSendToName();"></i>
		</div>
		<i class="icon-smile" title="Add a smile :)" onclick="toggleSmileys(event)"></i>
		<div contenteditable="true" id="usermsg" onkeydown="checkAndSendMessage(event)"></div>
	</div>
	<div id="callContainer" class="modal-body modal-draggable hidden">
		<div id="callContainerHeader" class="noSelection">
			<span id="callContainerHeaderText" style="display: inline-block">Make a call</span>
			<i class="icon-cancel" style="float: right; color: rgb(177, 53, 51);"
				onclick="CssUtils.hideElement($('callContainer'))"></i>
		</div>
		<div class="callContainerContent">
			<div class="videos">
				<video id="remote" autoplay></video>
				<video id="local" autoplay muted></video>
			</div>
			<ul id="callUserList" onclick="callUserListClick(event)">
			</ul>
			<div class="callContainerIcons noSelection">
				<i class="icon-mic"
					onclick="CssUtils.toggleClass(this, 'callActiveIcon')"></i>
				<i class="icon-videocam" style="margin-left: -5px; margin-right: 15px;"
					onclick="CssUtils.toggleClass(this, 'callActiveIcon')"></i>
				<i class="icon-phone-circled" onclick="callPeople()"></i>
			</div>
		</div>
	</div>
	<div class="modal-background hidden" id="callAnswerParent">
		<div id="callAnswer" class="modal-body modal-fixed">
			<span id="callAnswerText">Somebody is calling you</span>
			<div class="answerButtons">
				<button onclick="answerWebRtcCall()" style="background-color: #0E560C">
					<i class="icon-call-aswer"></i> <div>Answer</div>
				</button>
				<button onclick="videoAnswerWebRtcCall()" style="background-color: #0E560C">
					<i class="icon-videocam"></i> <div>Answer with video</div>
				</button>
				<button onclick="declineWebRtcCall()" style="background-color: #910000">
					<i class="icon-hang-up"></i> <div>Decline</div>
				</button>
			</div>
		</div>
	</div>

{% endblock %}