{% extends "base.html" %}
{% block head %}
	{% load staticfiles %}
	<script type="text/javascript">
		var a = "{{message}}";
		if (a == 'ok' ) {
			alert('verification code is accepted');
			redirectTime = "3000";
			redirectURL = "/";
			setTimeout("location.href = redirectURL;", redirectTime);
		}
	</script>
	<style>
		.message {
			text-align: center;
			font-size: 30px;
			font-family: monospace;
			display: table;
			width: 100%;
			vertical-align: middle;
			margin-top: 15%;
		}
	</style>
{% endblock head %}

{% block content %}
	{% if message == "ok" %}
		<div class="message">
			You're redirected to the main page now!
		</div>
	{% else %}
		<div class="message">
			{{ message }}
		</div>
	{% endif %}
{% endblock %}
