{% extends "base.html" %}
{% block head %}
	{% load static %}
	<script src="{% static "js/issue.js" %}"></script>
{% endblock head %}

{% block content %}
	<form method="post" id="issueForm" onsubmit="sendIssue(event)">
		<table class="fullwidth padding10">
			<tr>
				<td><label for="email">Your email</label> </td>
				<td><input type="email" id="email" name="email" value="{{ email }}"/></td>
			</tr>
			<tr>
				<td><label for="issue">The problem you discovered</label></td>
				<td><textarea id="issue" aria-required="true" class="fullwidth" name="issue" required></textarea></td>
			</tr>
			<tr>
				<td><label for="version">Affected browser</label></td>
				<td><input type="text" name="browser" id="version"/> </td>
			</tr>
			<tr>
				<td>
					<label for="history">Send Logs</label>
					<input type="checkbox" name="history" id="history" checked/></td>
				<td><input type="submit" class="fullwidth" value="Sumbit"></td>
			</tr>
		</table>
	{% csrf_token %}
	</form>
{% endblock %}
