<form method="post" id="issueForm" onsubmit="singlePage.sendIssue(event)">
	<table class="fullwidth padding10">
		<tr>
			<th><label for="email">Your email</label> </th>
			<td><input type="email" id="email" name="email" value="{{ email }}"/></td>
		</tr>
		<tr>
			<th><label for="issue">The problem you discovered</label></th>
			<td><textarea id="issue" aria-required="true" name="issue" required></textarea></td>
		</tr>
		<tr>
			<th><label for="version">Affected browser</label></th>
			<td><input type="text" name="browser" id="version"/> </td>
		</tr>
		<tr>
			<th>
				<label for="history">Send Logs</label>
			</th>
		<td><input type="checkbox" name="history" id="history" checked/></td>
		<tr>
			<td colspan="2"><input type="submit" value="Sumbit"></td>
		</tr>
	</table>
{% csrf_token %}
</form>
