<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>PyChat</title> {% load md5url %}
	<link rel="shortcut icon" href="{% md5url 'favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="{% md5url 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% md5url 'css/fontello.css' %}">
	<script>
		const RESPONSE_SUCCESS = "{{ successReponse }}";
	</script>
	<script src="{% md5url "js/base.js" %}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<script src="{% md5url "js/register.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% md5url 'css/register.css' %}">

</head>
<body class="color-lor">
<nav style="padding: 10px">
	<form id="loginForm" class="right" onsubmit="login(event);" style="padding-top: 0">
		<input type="text" name="username" placeholder="Username" id="username" required>
		<input type="password" name="password" placeholder="Password" id="password" required>
		<i class="icon-login" title="Sign in" onclick="$('loginForm').submit();"></i>
	</form>
</nav>
<form id="register-form" onsubmit="register(event)" class="biginputtext">
	<input type="text" maxlength="16" pattern="^[a-zA-Z-_0-9]{1,16}$" required
			 placeholder="Username" name="username" value="" id="rusername"
			 title="Field can only contain latin letters, numbers, dashes or underscore"/>
	<input type="password" pattern="^\S.+\S$" required name="password" value=""
			 id="rpassword" placeholder="Password"
			 title="Field should be at least 3 no space characters long"/>
	<input type="password" required name="repeatpassword" value="" id="repeatpassword"/>
	<input type="email" placeholder="Email" name="email" value="" id="email"/>
	<select id="id_sex" name="sex" placeholder="asd">
		<option value="0" disabled selected hidden>Gender</option>
		<option value="1">Male</option>
		<option value="2">Female</option>
	</select>
	<input type="submit" value="Sing Up"/>
	{% csrf_token %}
</form>
<div id="growlHolder"></div>
</body>
</html>