{% extends "base.html" %} {% block head %} {% load md5url %}
	<script src="{% md5url "js/register.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% md5url 'css/register.css' %}">
{% endblock head %} {% block content %}
	<form  id="register-form" onsubmit="register(event)">
		<div class="biginputtext">
			<table>
				<tr>
					<td><input type="text" maxlength="16" required placeholder="Username" name="username" value="" id="rusername"
								  onchange="validateUser()"/></td>
					<td><label id="username_check" for="rusername">Your login should be unique</label></td>
				</tr>
				<tr>
					<td><input type="password" required name="password" value=""
								  id="rpassword" placeholder="Password" onchange="validatePassword(); passwordsMatch();"/></td>
					<td><label id="password_check" for="rpassword">At least 3 characters</label></td>
				</tr>
				<tr>
					<td><input type="password" required placeholder="Repeat password" name="repeatpassword" value=""
								  id="repeatpassword" onchange="passwordsMatch();"/></td>
					<td><label id="repeatpassword_check" for="repeatpassword">Repeat in case of misspelling</label></td>
				</tr>
				<tr>
					<td><input type="email" placeholder="Email" name="email" value="" id="email"
								  onchange="validateEmail();"/></td>
					<td><label id="email_check" for="email">Enter an email for extra features</label></td>
				</tr>
				<tr>
					<td>
						<div class="checkboxes-div">
							<input type="radio" id="rmale" name="sex" value="Male">Male<br>
							<input type="radio" id="rfemale" name="sex" value="Female">Female
						</div>
						</td>
					<td>
						<input type="submit" value="Sing Up"/>
					</td>
				</tr>
			</table>
		</div>
	</form>
{% endblock %}
