{% extends "base.html" %}
{% block head %}
	{% load md5url %}<link rel="stylesheet" type="text/css" href="{% md5url 'css/main.css' %}">
{% endblock %}
{% block content %}
	{% if message == successResponse %}
		{{ restore_user }}
		<form method="post">
			<input type="password" name="password" required placeholder="Password"/>
			<input type="password" name="repeatpassword" required placeholder="Repeat password"/>
			<input type="hidden" name="token" value="{{ token }}"/>
			<input type="submit" value="change"/>
		{% csrf_token %}
		</form>
	{% else %}
		<div class="message">
			{{ message }}
		</div>
	{% endif %}
{% endblock %}
