{% extends "base.html" %}
{% block head %}
	{% load md5url %}<link rel="stylesheet" type="text/css" href="{% md5url 'css/register.css' %}">
	<style>
		#growlHolder {
			top: 10px;
		}
	</style>
	<script>
		{% if message == successResponse %}
			function submitResetPassword() {
				window.event.preventDefault();
				var passwd = document.querySelector('[name=password]');
				var rptPasswd = document.querySelector('[name=repeatpassword]');
				if (passwd.value != rptPasswd.value) {
					growlError("Passwords don't match");
				} else {
					var pswd = passwd.value;
					var passRegex = /^\S.+\S$/;
					if (!passRegex.test(pswd)) {
						growlError("Password should be at least 3 characters long without whitespaces");
					} else {
						doPost('', null, function (data) {
							if (data === RESPONSE_SUCCESS) {
								alert('Your password has been changed');
								window.location.href = '/register?type=login';
							} else {
								growlError(data);
							}
						}, $('restorePassword'));
					}
				}
			}
		{% else %}
			var div = document.createElement('DIV');
			div.innerHTML = "{{ message }}";
			alert(div.textContent);
			window.location.href = '/';
		{% endif %}
	</script>
{% endblock %}
{% block content %}
	{% if message == successResponse %}
		<form id="restorePassword" method="post" onsubmit="submitResetPassword()">
			<div class="restoreHeader">Restore password for
				<b>{{ restore_user }}</b>
			</div>
			<input type="password" name="password" required placeholder="password"/>
			<input type="password" name="repeatpassword" required placeholder="repeat password"/>
			<input type="hidden" name="token" value="{{ token }}"/>
			<input type="submit" value="Submit Password" class="cyan-btn"/>
		{% csrf_token %}
		</form>
	{% endif %}
{% endblock %}
