{% extends 'base.html' %}
{% block head %}
    <head>
    <style>
        table.biginputtext  td {
        padding: 10px;
        }
    </style>
    </head>
{% endblock head %}
{% block content %}
	<div class="max-height-scrollable two-columns">
		{#	if photo isn't uploaded yet #}
		{% if form.instance.photo %}
			<div class="col1" style="text-align: center">
				<div class="padding10">
					<img src="{{ form.instance.photo.url }}" alt="ava" id='photoImg' class="fullwidth">
				</div>
			</div>

			<canvas style="display:none;"></canvas>
		{% endif %}

		<div >
			<table class="biginputtext" style="margin: 10px">
				{{ form.as_table }}
			</table>
		</div>
	</div>
{% endblock content %}