{% extends "base.html" %}
{% block head %}
	{% load md5url %}
	<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
	<script src="https://www.amcharts.com/lib/3/pie.js"></script>
	<script src="https://www.amcharts.com/lib/3/themes/dark.js"></script>
	<link rel="stylesheet" type="text/css" href="{% md5url 'css/statistic.css' %}">
	<script type="text/javascript">
		var dataProvider = {% autoescape off %} {{ dataProvider}} {% endautoescape %};
	</script>
	<script src="{% md5url "js/statistic.js" %}"></script>
{% endblock head %}
{% block content %}
	<div id="chartdiv"></div>
{% endblock %}
