<!DOCTYPE html>
<html lang="en" style="height: 95%">
<head>
	{% load md5url %}
	<meta charset="UTF-8">
	<title>I love you ! :)</title>
	<script src="{% md5url "js/base.js" %}"></script>
	<style type="text/css">
		@font-face {
			font-family: "V1Font";
			src: url({% md5url 'valentine/v2.ttf' %}) format("truetype");
		}

		#text {
			font-family: "V1Font";
			font-size: 50px;
			padding: 20px;
			color: #820909;
			word-wrap: break-word;
		}

		body {
			height: 85%;
		}

		table {
			width: 100%;
			height: 100%;
		}

		table td:first-child {
			padding-right: 30px;
		}
			table td:last-child {
			padding-right: 30px;
		}

	</style>
	<script>
		var message = "...  I don't know how to write great messages but I do know that I love you.\n" +
				" I created this valentine for you, to show that you are very special for me too.\n" +
				"I cherish every minute that I spend with you!\n" +
				"You made my life different, better\n..." +
				"You always be the one for me...\n" +
				"And I mean every word...\n" +
				"Happy Valentine's Day, love!";
		var i = 0;
		setInterval(function () {
					if (i < message.length) {
						var textDiv = $('text');
						textDiv.innerHTML = textDiv.innerHTML + encodeHTML(message[i]);
					}
					i++;
				},
				100
		)
		onDocLoad(function() {
			$("audio").volume = 0.3;
		})

	</script>
</head>
<body>
<audio id="audio" src="{% md5url 'valentine/videoplayback.mp3' %}" autoplay="true"></audio>
<table>
	<tr>
		<td>
			<img src="{% md5url 'valentine/teddy.gif' %}" height="80%"/>
		</td>
		<td>
			<p id="text">
			</p>
		</td>
	</tr>
</table>

</body>
</html>