@import "../../partials/mixins"
@import "../../partials/variables"

.color-reg
	.message-header-others
		color: #729fcf
	.message-header-private
		color: #84CC3D
	.message-header-self
		color: #e29722
	.message-header-system
		color: #84B7C0

	.icon-cancel:hover
		color: #440000

	#userSendMessageTo
		border: 1px solid #101D07
		@include linear-gradient(#185D61, #092B2E)
		text-shadow: $default-shadow
		color: #A2A2A2

	.activeTab
		color: #C6B955

	// call container
	.modal-body
		border: 1px solid #414141
		box-shadow: 2px 2px 1px rgba(255, 255, 255, 0.05)
		$start-gradient: rgba(42, 46, 42, 0.89)
		@include linear-gradient($start-gradient, #181b18)
	#callContainerHeader
		background-color: #42433B
		@include linear-gradient(#413A3A, #241F1F)
		color: #9D9D9D
		border-bottom: 1px solid #444444
	.callContainerIcons
		color: #259BBD
	#callUserList
		color: #A5A5A5
		background-color: #242A2A
	.finish-call-icon
		color: #BC2F2F
	.active-call-user
		@include linear-gradient(#1A747A, #104B4F)
		text-shadow: $default-shadow
	.red-btn
		@include linear-gradient(#A30000, #530000)
		background-color: #530000
	.green-btn
		@include linear-gradient(#148212, #093C08)
		background-color: #093C08
	.answerButtons div
		padding-top: 8px

	// end call container
