@import "../../partials/mixins"
@import "../../partials/variables"
@import "../../partials/asphalt"
@import "../../partials/ajax-status"


.color-reg
	@import "../highlight-dark"
	@extend %ashalt
	background-color: #222222 /*if image is nto loaded*/
	.hljs
		background-color: #2a2a2b
		border: 1px dashed #777777

	color: $main-color

	@import "../checkbox"
	@import "../inputRange"
	nav
		background-image: linear-gradient(#232323 0%, #151515 100%)

	label
		font: 13px Open Sans
		color: #6E6E6E
		text-shadow: $default-shadow

	th
		text-align: right
		padding-right: 10px

	@mixin selection
		background-color: #973434
		color: #6C9796

	::selection
		@include selection

	::-moz-selection
		@include selection

	::-webkit-datetime-edit-month-field,
	::-webkit-datetime-edit-day-field,
	::-webkit-datetime-edit-year-field
		&:focus
			@include selection
			background-image: none

	select,
	textarea,
	div[contenteditable],
	input[type=text], input[type=password], input[type=email], input[type=date], input[type=search]
		@include box-shadow(inset 4px 6px 10px -4px rgba(0, 0, 0, 0.3), 0 1px 1px -1px rgba(255, 255, 255, 0.3))
		background: rgba(0, 0, 0, 0.2)
		border: 1px solid rgba(0, 0, 0, 1)
		color: $reg-theme-main-color
		text-shadow: $default-shadow
		font-family: Arial, serif

		&:focus
			box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.7), 0 1px 1px -1px rgba(255, 255, 255, 0.3)
			background: rgba(0, 0, 0, 0.35)
			@include transition(0.7s ease)
			transition-property: box-shadow, 	background

		&:-webkit-autofill
			@include box-shadow(0 0 0 1000px #30302A inset !important)
			-webkit-text-fill-color: #9BA577
			text-shadow: none


	option
		background-color: $mostly-black

	input, select
		outline: none


	button > i
		opacity: 1

	.biginputtext input[type=file]
		font: 12px Oswald

	@mixin reg-button-style()
		@include linear-gradient-hover($grayish-green, #4f5249)


	input[type=file]::-webkit-file-upload-button
		@include reg-button-style
	@-moz-document url-prefix()
		input[type=file]
			@include reg-button-style
	.lor-btn
		@include reg-button-style

	fieldset legend
		color: #9DD3DD

	.growl, #smileParentHolder
		background-color: rgba(33,33,31, 0.9)
		border: 1px #696951 solid

	.icon-github
		@include hover-click(#bbbbbb)

	.icon-smile, .icon-picture, .icon-user-plus, .icon-plus-squared, .icon-angle-circled-down, .icon-angle-circled-up
		@include hover-click(#e3e3e3)
	.painterTools [class^='icon-']
		@include hover-click(#e3e3e3)
	.icon-webrtc-fullscreen, .icon-cog
		@include hover-click(#59b2c1)
	[class^='icon-volume']
		@include hover-click(#DCA737)
	.icon-home
		@include hover-click(#20A0FF)
	.icon-brush
		@include hover-click(#ee0000)
	.icon-pencil
		@include hover-click(#8D28DE)
	.icon-chart-pie
		@include hover-click(#B7D710)
	.icon-sign-out
		@include hover-click(#F5504C)
	.icon-wrench
		@include hover-click(#67C8B0)
	.icon-repeat
		@include hover-click(#009910)
	.icon-clear
		@include hover-click(#D42C5A)
	.growl .icon-cancel
		@include hover-click(#eb0000)
	.icon-phone
		@include hover-click(#37BB21) /*override .		color-lor :link*/
	.icon-doc-inv
		@include hover-click(#15dfff)
	.icon-popup
		@include hover-click(#ff9900)
	.icon-cog, .icon-webrtc-fullscreen
		@include hover-click(#21bace)
	.callActiveIcon
		@include hover-click(#bf1710)
	.painterTools .active-icon
		@include hover-click(#ff5e53)

	@include scrollbar($mostly-black, #3a4a4e, #7dc071, #c08b00,#3c763d)

	.col-error
		color: #FF3131
	.col-success
		color: #5BC25C
	.col-info
		color: #78CAD8

	.context-menu, #m2Message, #user-context-menu
		color: #ACACAC
		&:hover
			color: #c7c7c7

	@media screen and (max-width: $collapse-width)
		#chat-room-users-wrapper
			border-bottom: 6px solid #1a1a1a