@import "../../partials/mixins"
@import "../../partials/variables"

.color-reg
	.forg-pass
		color: #249BA3

	%top-btn-register
		border-top: 1px solid rgba(255, 255, 255, 0.6)
		border-left: 1px solid rgba(171, 171, 171, 0.83)
		text-transform: uppercase
		font: 14px Oswald
		border-radius: 0px !important
	.cyan-btn
		@include linear-gradient-hover(#BABDB6, #28D2DE, 15px, 12px)
		@extend %top-btn-register
	.signLogBtn:not(.disabled)
		@extend %top-btn-register
		@extend .cyan-btn
	.signLogBtn.disabled
		@include linear-gradient-hover($grayish-green, #434343, 15px, 12px, #434343)
		@extend %top-btn-register


	.submit-button
		width: 100%
		border-radius: 5px
		border: 1px solid #000

	.reg-log-container
		input[type=button], select, input[type=submit]
			&:active
				padding-top: $register-buttons-vertical-pad + 1
				padding-bottom: $register-buttons-vertical-pad - 1
		[class^='icon-']
			opacity: 1
			text-shadow: none
			cursor: auto
