@import "../../partials/mixins"
@import "../../partials/variables"

.color-reg
	.message-header-others
		color: #729fcf
	.message-header-private
		color: #84CC3D
	.message-header-self
		color: #e29722
	.message-header-system
		color: #84B7C0

	.icon-cancel:hover
		color: #440000

	//#chat-user-table li
	//	&:hover
	//		background-color: #454545
	//	&.active-user
	//		background-color: #181818

	#user-context-menu
		@include linear-gradient(#214341 , #193237)
		li:hover
			background-color: #0F201F

	.activeTab
		color: #C6B955

	.icon-phone-circled
		color: #3AC73A

	.icon-webrtc-fullscreen
		color: #6EEFFF

	// call container
	.modal-body
		border: 1px solid #414141
		box-shadow: 2px 2px 1px rgba(255, 255, 255, 0.05)
		$start-gradient: rgba(42, 46, 42, 0.89)
		@include linear-gradient($start-gradient, #181b18)
	.windowHeader
		background-color: #42433B
		@include linear-gradient(#413A3A, #241F1F)
		color: #9D9D9D
		border-bottom: 1px solid #444444
	.callContainerIcons
		color: #259BBD
	#callUserList
		color: #A5A5A5
		background-color: #242A2A
	.finish-call-icon
		color: #BC2F2F
	.active-call-user
		@include linear-gradient(#1A747A, #104B4F)
		text-shadow: $default-shadow
	.red-btn
		@include linear-gradient(#A30000, #530000)
		background-color: #530000
	.green-btn
		@include linear-gradient(#148212, #093C08)
		background-color: #093C08
	.answerButtons div
		padding-top: 8px

	.newMessages
		background-color: #891313
		// end call container

	#chat-room-users-wrapper > span
		background-color: #171717

	#directUserTable,
	#rooms
		.icon-cancel-circled-outline
			opacity: 0.8
			&:hover
				opacity: 1
				color: #ff5e5c

	.active-room
		background-color: rgba(33, 158, 147, 0.45)

	#chat-user-table li
		&.offline:before
			color: #a60000
		&:before
			color: #28671d

	#onlineStatus
		padding: 0 10px
		&.offline
			color: #ee2d2d
		&.online
			color: #53a045