.blue {
	color: MidnightBlue;
}

.green {
	color: green;
}

.yellow {
	color: yellow;
}

.red {
	color: red;
}

.black {
	color: black;
}

ul {
	/* remove browser default left padding 40px*/
	padding-left: 0px;
}

.credentialList, .navbarList {
	list-style-type: none; /* remove bullest*/
	/* prevent navbar from margin top*/
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbarList {
	padding-top: 8px;
	padding-left: 5px;
}

.navbarList > li {
	display: inline-block;
	font-size: 35px;
	padding-left: 12px; /* get rid parent 35px font*/
}

.credentialList > li {
	margin: 10px;
	font-size: 14px;
}

.navbar-default {
	background-image: -webkit-linear-gradient(top, #fff 0%, #f8f8f8 100%);
	background-image: -o-linear-gradient(top, #fff 0%, #f8f8f8 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));
	background-image: linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

.credentials {
	height: 36px;
	width: 200px;
}

span:hover {
	text-shadow: 2px 2px #DDDDDD;
	cursor: pointer;
}

html * {
	text-shadow: none;
	cursor: auto;
}

#showMenu:hover div {
	display: block;
}

#showMenu > div {
	display: none;
	position: absolute;
}

#showMenu > div {
	border-style: solid;
	border-color: #8C8C8C;
	border-width: 1px;
	box-shadow: 3px 3px 7px #888888;
	border-radius: 5px;

	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(top right, #8C8C8C 0%, #D4D4D4 100%);

	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top right, #8C8C8C 0%, #D4D4D4 100%);

	/* Opera */
	background-image: -o-linear-gradient(top right, #8C8C8C 0%, #D4D4D4 100%);

	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #8C8C8C), color-stop(1, #D4D4D4));

	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top right, #8C8C8C 0%, #D4D4D4 100%);

	/* W3C Markup, IE10 Release Preview */
	background-image: linear-gradient(to bottom left, #8C8C8C 0%, #D4D4D4 100%);

}

.wrapper {
	overflow-y: hidden;
	height: 100%;
}

.chatbox {
	height: 80%;
	overflow-y: scroll;
	/* overflow-y: auto; */
}
