/* =============== COLOR LOR ===================== */
.color-lor {
	background-color: #272c2d;
	color: #babdb6;
}

.color-lor nav {
	background-color: rgb(34, 31, 31);
}
/*---------INPUT TEXT--------*/
.color-lor input[type=text],
.color-lor input[type=password],
.color-lor input[type=email],
.color-lor textarea,
.color-lor select,
.color-lor input[type=date] {
	background-color: #272c2d;
	border: 1px solid rgba(96, 90, 90, 0.31);
	color: #C7C7C7;
}
.color-lor .box-shadow input[type=text],
.color-lor .box-shadow input[type=password],
.color-lor .box-shadow textarea,
.color-lor .box-shadow select,
.color-lor .box-shadow input[type=date]
{
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.83) inset, 0 -1px 0 rgba(0, 0, 0, 0.66) inset;
}

.color-lor input[type=text]:focus,
.color-lor input[type=password]:focus,
.color-lor input[type=email]:focus,
.color-lor textarea:focus,
.color-lor select:focus,
.color-lor input[type=date]:focus {
	outline: none; /*remove chrome blue border*/
	border: 1px solid #5e5e60;
	box-shadow: 0 0 10px #55585b;
	color: #dddddd;
}
.color-lor :link {
	color: #729fcf;
}

.color-lor :visited {
	color: #7572CF;
}

/*-----------INPUT BUTTON -----------*/
.color-lor input[type=button]:hover,
.color-lor input[type=submit]:hover {
	color: #000000;
	background: linear-gradient(#babdb6, #abbdab) repeat scroll 0 0 transparent;
	border: 1px solid #48484a;
	box-shadow: 0 0 10px #55585b;
	cursor: pointer; /*TODO */
}

.color-lor input[type=button],.color-lor input[type=submit] {
	background-color: rgb(62, 65, 58);
	color: #BABDB6;
}

/*-------- FONTELLO ------------*/
.color-lor [class^='icon-']:not([class='icon-anonymous']):hover {
	text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #3D3D3D;
}
[class^='icon-volume'] { color: rgb(138, 109, 59); }
.icon-home { color: rgb(51, 122, 183); }
.icon-pencil { color: rgb(85, 26, 139); }
.icon-users { color: rgb(77, 111, 67); }
.icon-login { color: rgb(60, 118, 61); }
.icon-register { color: rgb(138, 109, 59); }
.icon-sign-out { color: rgb(169, 68, 66); }
.icon-wrench { color: rgb(70, 133, 117); }
.icon-clear { color: rgb(142, 53, 84); }
.icon-man {color: rgb(84, 151, 83) !important; } /*override .color-lor:link*/
.icon-girl { color: #bb686a !important; } /*override .color-lor:link*/
.icon-anonymous { color: #C2C2C2 !important; } /*override .color-lor:link*/
.icon-user-secret { color: rgb(92, 148, 163) !important; } /*override .color-lor:link*/

/*--------PAGE SPECIFIC--------------*/
.color-lor #hideableDropDown {
	background-color: rgb(38, 36, 37);
	border-color: rgb(30, 30, 30);
	box-shadow: 3px 3px 7px #0E1011
}
/*----------BROWSER SPECIFIC------------*/
.color-lor ::-webkit-calendar-picker-indicator { background: rgb(186, 189, 182); }
.color-lor ::-webkit-calendar-picker-indicator { background: rgb(39, 44, 45); }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #30302A inset !important; /*important t*/
	-webkit-text-fill-color: #CCCBDF;
}
/*TODO html scroll doesn't show with .color-lor class for body*/
::-webkit-scrollbar {
	background: #222 !important;
}
::-webkit-scrollbar-thumb {
	background: #3E4654 !important;;
}

/*IE scroll*/
.color-lor {
	scrollbar-base-color: #3E4654;
	scrollbar-3dlight-color: #7dc071;
	scrollbar-highlight-color: #c08b00;
	scrollbar-track-color: #222;
	scrollbar-arrow-color: #3c763d;
}

.color-lor input[type=file]::-webkit-file-upload-button:hover {
	color: #ffffff;
	border: 1px solid #48484a;
	box-shadow: 0 0 10px #55585b;
}

.color-lor input[type=file]::-webkit-file-upload-button {
	background-color: rgb(62, 65, 58);
	color: #BABDB6;
}

.color-lor .table tbody>tr>td,
.color-lor .table tbody>tr>th{
	border-top: 1px solid #5B6248;
}
/* =============== END  ===================== */

a {
	text-decoration: none;  /* remove underline from fonts*/
}

ul {
	/*remove browser default left padding 40px and bullets*/
	padding-left: 0;
}

nav {
	/*Icons navbar size*/
	font-size: 26px;
}

.fullwidth {
	width: 100%;
}

.padding10 {
	padding: 10px;
}

.right {
	float:right;
}

.hidden {
	display: none !important;
}

#navbarList {
	margin: 0;
	padding: 10px 4px 9px 10px;
}
#navbarList > li {
	 display:inline;
}

html, body {
	text-shadow: none;
	/*cursor: auto;*/
	margin: 0;
	height: 100%;
	/*width: 100% !important;*/
	font-family: arial, serif;
}

textarea {
	resize: none;
	font-family: arial, serif;
	border: 0 none white; /*Remove as it distorts behaviour of  adjustUserMessageWidth in Firefox */
	padding: 0;
	outline: none;
}

/*============== ONLY LOGIN.CSS =============*/
.userNameInput {
	background: rgba(0, 0, 0, 0);
	margin: 0 0;
	font-size: 22px; /*icons are 26 px + border, the bigger size will shift everything to bot*/
	padding: 0;
	width: 150px;
}

.username {
	font-size: 22px;
	padding-right: 10px;
}
/* ============= LOGIN DROPDOWN ==============*/

#hideableDropDown > form> * {
	display: block;
	margin: 13px;
}

#hideableDropDown {
	position: absolute;
	float: left;
	right: 5px;
	border: 1px solid;
	border-radius: 2px;
	margin-top: 8px; /* = navbarList bottom margin */
}

/* ================== COMMONS ======================*/
.biginputtext input:not([type=button]):not([type=submit]):not([type=checkbox]):not([type=radio]), select {
	padding: 8px;
	margin: 5px 10px 5px 0;
	border-radius: 5px;
	font-size: 18px;
	width: 210px;
}


/******************** INPUTS ********************/

input[type=text], input[type=password], input[type=email], textarea, select, input[type=date] {
	border-radius: 5px;
	font-size: 18px;
	padding-left: 5px;
}

input[type=button], input[type=submit] {
	border: 1px solid transparent;
	border-radius: 3px;
	font-size: 18px;
	padding: 6px 12px;
	horiz-align: center;
}


textarea {
	border-radius: 4px;
}

/*============== FONTELLO SETTINGS =================*/
.navbar-default [class^='icon-'] {
	margin: 2px;
}
[class^='icon-']:not([class='icon-anonymous']):hover { cursor: pointer;}
/*================= SCROLLBAR ==================== */

::-webkit-scrollbar {
	height: 12px;
	width: 6px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 1ex;
}

/*=============== BROWSER SPECIFIC ================ */
/*Remove annoying chromium autofill yellow background*/
.navbar-default {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/*::-webkit-inner-spin-button { display: none; }*/
::-webkit-inner-spin-button { display: none; }

input[type=file] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	/*background-color: red;*/
}

input[type=file]::-webkit-file-upload-button {
	border: 1px solid transparent;
	border-radius: 3px;
	font-size: 18px;
	padding: 6px 12px;
	horiz-align: center;
}

input[type=file]::-webkit-file-upload-button:hover {
	cursor: pointer;
}
/* "x::-webkit-file-upload-button" forces the rules to only apply to browsers that support this pseudo-element */

/* ====================== PROFILE.CSS ================= */

.col1 {
	width: 50%;
	float: left;
}

video {
	cursor: pointer;
}
/*user-profile*/
@media screen and (max-width: 50em ) {
	.col1 {
		width: 100%;
	}
	input[type=file] {
		max-width: 360px;
	}
}
@media screen and (max-width: 30em ) {
	.username {
		display: none !important;
	}
}

@media screen and (max-width: 60em ) {
 .mText {
	 display: none;
 }
}
