ul {
	 /*remove browser default left padding 40px and bullets*/
	padding-left: 0;
}

.navbar-default {
	/*Icons navbar size*/
	font-size: 25px;
}
span:hover {
	/*Hand and shadow on hover on navbar elements*/
	cursor: pointer;
	text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F;
}

html, body {
	text-shadow: none;
	/*cursor: auto;*/
	margin: 0;
	height: 100%;
}
.color-lor {
	background-color: #272c2d;
	color: #babdb6;
}

.color-lor input[type=text], input[type=password], input[type=email] {
	background-color: #272c2d;
	border: 1px solid rgba(96, 90, 90, 0.31);
	color: #C7C7C7;
}

.color-lor input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
	outline: none !important;
	border: 1px solid #5e5e60;
	box-shadow: 0 0 10px #55585b;
	color: #dddddd;
}

/*Override BS white background*/
.dropdown-menu  {
	background-color: #262425 !important;
}

/*add space between elements in login dropdown */
.dropdown-menu input[type=text], input[type=password]{
	margin-bottom: 15px;
}

.color-lor input[type=button], input[type=submit]{
	background-color: #3E413A ;
}
.color-lor input[type=button]:hover, input[type=submit]:hover {
	color: #eaeaea;
	border: 1px solid #48484a;
	box-shadow: 0 0 10px #55585b;
}

::-webkit-scrollbar {
    height: 12px;
    width: 6px;
    background: #222;;
}

::-webkit-scrollbar-thumb {
    background: #3E4654;
    -webkit-border-radius: 1ex;

}

/*::-moz-selection {  Code for Firefox*/
    /*color: red;*/
    /*background: yellow;*/
/*}*/


/*::selection {*/
    /*text-shadow:1px 1px #c7c8c2;*/
    /*background: rgba(0, 0, 0, 0.81);*/
/*}*/

/*#showMenu:hover div {*/
	/*display: block;*/
/*}*/

/*#showMenu > div {*/
	/*display: none;*/
	/*position: absolute;*/
/*}*/

/*#showMenu > div {*/
	/*border-style: solid;*/
	/*border-color: #8C8C8C;*/
	/*border-width: 1px;*/
	/*box-shadow: 3px 3px 7px #888888;*/
	/*border-radius: 5px;*/
	/*background-image: linear-gradient(to bottom left, #8C8C8C 0%, #D4D4D4 100%);*/

/*}*/