.wrapper {
	height: calc(100% - 64px);
	width: 100%;
}

.chat-wrapper {
	display: inline-block;
	height: calc(100% - 50px) ;
	width: 100%;
}

#chatbox {
	height: 100% ;
/*calc(100% - 400px)*/
	overflow-y: scroll;
	padding-left: 15px;
	padding-right: 5px;
	word-wrap:break-word;
}

#chatrooms {
	display: inline-block;
	float: right;
	margin-left: 5px;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	min-width: 50px;
	max-width: 300px;
	font-size: 20px;
	text-overflow: ellipsis;
}

#chatrooms > ul > li:hover {
	cursor: pointer;
}

#chatrooms > ul  {
	margin-top: 5px;
	margin-bottom: 5px;
}

#sendButton {
	color: #FFF;
	background: linear-gradient(#3d6980, #121F31);
	border: 0px;
	border-radius: 5px;
	letter-spacing: 1px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 19px;
	line-height: 22px;
	padding: 10px 20px 10px 20px;
	min-width: 120px;
	margin-left: 10px;
}

.inputs {
	width: 100%;
	margin-top: 1px;
	padding: 8px 10px;
	border-radius: 5px;
	font-size: 18px;
	border: 1px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.83) inset, 0 -1px 0 rgba(0, 0, 0, 0.66) inset;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}

.create-message-wrapper {
	padding: 0px 10px 3px 0px ;
	display: inline-flex;
	width: 100%;
	flex-direction: row;
}
.inputsdiv {
	flex-grow : 1;
	padding-left: 8px;
}

#userSendMessageTo {
	/*sets also in chat.js on username click*/
	display: inline-flex;
	justify-content: center;
	align-content: center;
	flex-direction: row;
	align-items: center;
	font-size: 17px;
	box-shadow: 0px 2px 2px rgba(6, 3, 8, 0.77);
	border-radius: 2px;
	padding: 5px 5px 5px 5px;
	margin-left: 8px;
}

#receiverId {
	padding-right: 5px;
}

/*.fadeout {*/
	/*height: 10px;*/
	/*width: 100%;*/
	/*position: absolute;*/
	/*background-image: -webkit-linear-gradient(*/
			/*rgba(255, 255, 255, 1) 100%,*/
			/*rgba(255, 255, 255, 0.5) 0%*/
	/*);*/
/*}*/
/*#userMsg, input, select, textarea {*/
	/*background-color : #7ea6bd;*/
/*}*/

