.wrapper {
	height: calc(100% - 83px);
	width: 100%;
}

.chat-wrapper {
	display: inline-block;
	height: 100%;
	width: 100%;
}

#chatbox {
	height: 100%;
	overflow-y: scroll;
	padding-left: 8px;
	word-wrap: break-word;
	margin-right: 2px; /*shift scrollbar from right side*/
}

#chatrooms {
	float: right;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	max-width: 300px;
	font-size: 24px;
	text-overflow: ellipsis;
}

#chatroomtables > tbody > tr :hover{
	cursor: pointer;
	color: #B79D21;
}
#chatroomtables > tbody > tr > td{
	padding: 0;
}

.inputs {
	border-radius: 5px;
	font-size: 18px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.83) inset, 0 -1px 0 rgba(0, 0, 0, 0.66) inset;
	background-color: #272c2d;
	padding-left: 5px;/*between text and left edge*/
}

.inline {
	display: inline-block;
	vertical-align: middle;
}

#userSendMessageTo {
	/*sets also in chat.js on username click*/
	justify-content: center;
	vertical-align: middle;
	align-content: center;
	align-items: center;
	max-width: 250px;
	/*font-size: 17px; = inherited */
	box-shadow: 0 2px 2px rgba(6, 3, 8, 0.77);
	border-radius: 2px;
	float:left;
	padding-top: 4px;
}
#receiverId {
	display: inline-block;
}
.message-text-holder {
	overflow: hidden;
	padding-left:5px;
	padding-right: 12px;
}
.message-header-others {
	color: #729fcf;
}

.message-header-private {
	color: #8ae234;
}

.message-header-self {
	color: #e29722;
}

.message-header-system {
	color: #9DD3DD;
}

/*-webkit-background-clip: text;*/
/*-webkit-text-fill-color: transparent;*/
/*gradient text top disappearing */
#chatbox {
	/*-webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0) 100%);*/
	/*TODO login dropdown goes under scroll, FF doesn't support*/
}
